<!doctype html>  
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		
		<title><%=(@display_title==nil)?"":@display_title%></title>

		<meta name="description" content="An easy to use CSS 3D slideshow tool for quickly creating good looking HTML presentations.">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		
		<!--<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
		
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/print.css" type="text/css" media="print">               
                
		<link rel="stylesheet" href="lib/zenburn.css">
	</head>
	
	<body>
		
            <div id="header">
                <img src="assets/header.png" />
            </div>
          
		<div id="reveal">

			<!-- Used to fade in a background when a specific slide state is reached -->
			<div class="state-background"></div>
			
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Messageboard</h1>
					<h3 class="inverted">im Foyer</h3>
				</section>
			</div>

			<!-- The navigational controls UI -->
			<aside class="controls">
				<a class="left" href="#">&#x25C4;</a>
				<a class="right" href="#">&#x25BA;</a>
				<a class="up" href="#">&#x25B2;</a>
				<a class="down" href="#">&#x25BC;</a>
			</aside>

			<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
			<div class="progress"><span></span></div>
			
			
			<div class="sidebar">
                          <% if @display_image == nil  %>
                            <img src="http://www.cs.uni-magdeburg.de/skin/vorlage/pics/logos/logo_inf_fak.png" class="logo">
                          <% else %>
                            <img src="<%=@display_image%>" class="logo" alt="<%=@display_title%>">
                          <% end %>				
		    	<div class="scroll eventbar">
		    		<!-- <h3>Veranstaltungen</h3> -->
		    		<ul class="fly">
		    			<li><strong>Grundlagen Algorithmischer Geometrie</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 2</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 3</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 4</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 5</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 6</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 7</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 8</strong><br>11 Uhr - E037</li>
		    			<li><strong>Grundlagen Algorithmischer Geometrie</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 2</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 3</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 4</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 5</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 6</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 7</strong><br>11 Uhr - E037</li>
		    			<li><strong>Eine Veranstaltung 8</strong><br>11 Uhr - E037</li>
		    		</ul>
		    	</div>
		    </div>
		</div>
		
		<script src="js/reveal.js"></script>
		<script src="js/stroll.js"></script>

		<!-- Optional libraries for code syntax highlighting and classList support in IE9 -->
		<script src="lib/highlight.js"></script>
		<script src="lib/classList.js"></script>

		<script src="js/jquery.min.js" type="text/javascript"></script>
		
		<script>
			// Parse the query string into a key/value object
			var query = {};
			location.search.replace( /[A-Z0-9]+?=(\w*)/gi, function(a) {
				query[ a.split( '=' ).shift() ] = a.split( '=' ).pop();
			} );
			
			// Fires each time a new slide is activated
			Reveal.addEventListener( 'slidechanged', function( event ) {
				// event.indexh & event.indexv
			} );

			Reveal.initialize({
				// If true; each slide will be pushed to the browser history
				//history: true,
				
				mouseWheel: false,
				
				// UI style
				theme: query.theme || 'default', // default/neon

				// Transition style
				transition: query.transition || 'concave' // default/cube/page/concave/linear(2d)
			});
						
			$(function() {
				function slideLoop() {
					
					$.ajax({
						type: "GET",
						url: "/slides/next/<%=(@display_name==nil)?"":@display_name%>",
						success: function(antwort){
							$('div.slides').append(antwort);
                                                        
                                                        Reveal.navigateRight();
                                                        if ($('section.past').length > 1)
                                                          $('section.past:first').remove();
						}
					});
					
					Reveal.slide();					

   				}
				window.setInterval(slideLoop, 7500);
                                slideLoop();
                                
                                function eventLoop() {
                                      $.ajax({
                                              type: "GET",
                                              url: "/events/list/<%=(@display_name==nil)?"":@display_name%>",
                                              context: $('.eventbar')
                                      }).done(function(rtn) {
                                              $(this).html(rtn);
                                      });
                                }
                                window.setInterval(eventLoop, 120000);
                                eventLoop();
                                
			});

		</script>

	</body>
</html>
